<div class="tools">
   <h1>Bannerek</h1>
   <a href="{$_C.liveadmin}/banners/~new~/edit" class="button tiny success"><i class="fa fa-plus"></i> {$lang.sys.add_new}</a>
</div>
<table cellpadding="0" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th width="60"> </th>
            <th width="50">ID</th>
            <th>{$lang.sys.title|uppercase}</th>
            <th>{$lang.sys.type|uppercase}</th>
            <th>{$lang.sys.zone|uppercase}</th>
            <th>{$lang.sys.size|uppercase}</th>
            <th width="160">{$lang.module.interval|uppercase}</th>
            <th width="60">{$lang.module.appearance_short|uppercase}</th>
            <th width="60">{$lang.module.clicks_short|uppercase}</th>
            <th width="80">CTR%</th>
            <th width="250" align="right"></th>
        </tr>
    </thead>
    <tbody>
      {loop="$banners"}
        <tr id="object_{$value.id}" {if="$value.status=='0'"}class="inactive-row"{/if}>
            <td>
               <div class="switch tiny" style="height:20px;">
                 <input id="status_{$value.id}" type="checkbox" {if="$value.status=='1'"}checked{/if} onClick="switch_status('{$value.id}')">
                 <label for="status_{$value.id}"></label>
               </div> 
            </td>
            <td>{$value.id}</td>
            <td>{$value.title}</td>
            <td>{if="$value.source=='adsense'"}AdSense{else}Egyedi{/if}</td>
            <td>{$value.zone_title}</td>
            <td>{$value.zone_width} x {$value.zone_height}</td>
            <td><small>{$value.start_date} <i class="fa fa-long-arrow-right"></i> {$value.end_date}</small></td>
            <td>{if="$value.source=='adsense'"}-{else}{$value.appearance}{/if}</td>
            <td>{if="$value.source=='adsense'"}-{else}<strong>{$value.clicks}</strong>{/if}</td>
            <td>{if="$value.source=='adsense'"}<a href="https://www.google.com/adsense" target="_blank" class="button tiny"><i class="fa fa-info-circle"></i></a>{else}{$value.ctr}{/if}</td>
            <td class="right">    
               <a href="{$_C.liveadmin}/banners/{$value.id}/edit" class="button tiny success"><i class="fa fa-pencil"></i> {$lang.sys.edit|capitalize}</a>   

               <a onclick="del_confirm('{$value.id}')" 
               class="button tiny alert delete-confirm-button"
               id="delete-confirm-button-{$value.id}">
               <i class="fa fa-times"></i> {$lang.sys.delete|capitalize}</a>
               <span class="delete-confirm" id="delete-confirm-{$value.id}">
               <a onclick="del('banners', '{$value.id}')" class="button tiny alert"><i class="fa fa-check"></i> {$lang.sys.confirm|capitalize}</a>
               </span>
            </td>
        </tr>
      {/loop}
    </tbody>
</table>

<script>
function switch_status(id){
   var status = $('#status_'+id)[0].checked ? '1' : '0';
   loading();
   $.ajax({
     type: "POST",
     url: "{$_C.liveadmin}/modules/banners/ajax.php",
     data: {secure : '{$_C.secure}', command : 'switch_status', id:id, status:status},
     dataType : 'html',
   }).done(function(data) {
      if (status == '0') { 
         $("#object_"+id).fadeTo( "slow" , 0.6); 
      } else {
         $("#object_"+id).fadeTo( "slow" , 1);
      }
      loaded();
   });
}
</script>