<br/><section class="section-left section-cikk">
<h1>{$page.title}</h1>

{$page.text}
</section>
<section class="section-right">

<div class="banner banner-336x280">
   <div class="arrow arrow-ad"></div><div class="section-title section-title-ad">Hirdetés</div>
   {$banner_8}
</div><div class="clear"></div><br/>
<div class="banner banner-336x280">
   <div class="arrow arrow-ad"></div><div class="section-title section-title-ad">Hirdetés</div>
   {$banner_9}
</div><div class="clear"></div><br/>
<div class="banner banner-336x280">
   <div class="arrow arrow-ad"></div><div class="section-title section-title-ad">Hirdetés</div>
   {$banner_10}
</div>

</section>
<div class="clear"></div>