/* CSS Document */
*{
   margin:0px;
   padding:0px;
}
html, body {
   width:100%;
   height:100%;
}
body{
   font-family: 'Open Sans', sans-serif;
   font-weight:400;
   background-color:#f4f4f4;
   color:#303030;
}
small{
   font-size:9px;
}
.orange{
   color:#ff9700;
}
.white{
   color:white;
}
p{
    font-weight:400;
}
a{
   cursor:pointer;
}
hr{
   border:none;
   border-bottom:1px dashed #ddd;
   margin-top:10px;
   margin-bottom:5px;
}
.rss{
    background-image:url(../images/rss.png);
    background-size:contain;
    background-repeat:no-repeat;
    width:100px;
    height:35px;
    position:absolute;
    top:122px;
}
h1 {
   font-family: 'Open Sans', sans-serif;
   font-weight:300;
   color:#2bace3;
}
h1 small{
   font-size:13px;
}
h2 {
   font-size:18px;
   font-weight:400;
   color:#2bace3;
   margin-bottom:12px;
   margin-top:12px;
   line-height:15px;
}
h3{
   font-size:14px;
   font-weight:600;
   margin-bottom:2px;
   line-height:15px;
}
header, main, footer, .menupoints, .poll{
   width:1170px;
   margin:0 auto;
}
header, footer, section, .poll{
   background:white;
   border:1px solid #d8d8d8;
   border-bottom:5px solid #d8d8d8;
   padding:20px;
}
.poll{
   text-align:center;
   padding:5px;
   font-style:oblique;
   color:#333;
}
.poll-answer{
   margin-top:8px;
}
.poll-progress{
   height:10px;
   margin-top:15px;
}
header{
   margin-top:-1px;
   height:135px;
}
.logo{
   float:left;
   width:200px;
   height:120px;
   background-image:url(../images/logo.png);
   background-position:left;
   background-size: contain;
   background-repeat:no-repeat;
   margin-right:40px;
   margin-top:-15px;
}
.search{
    display:none;
    z-index:999;
    position:fixed;
    left:50%;
    top:30%;
    margin-left:-320px;
    padding:8px;
    background-color:white;
    border:1px solid #ddd;
    -webkit-box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow:    0px 14px 14px 0px rgba(0, 0, 0, 0.36);
    box-shadow:         0px 14px 14px 0px rgba(0, 0, 0, 0.36);
}
.search i{
    float:left;
    font-size:30px;
    color:#888;
    margin-right:10px;
    margin-top:14px;
    padding-left:15px;
}
.search input{
    float:left;
    box-shadow:none;
    border:none;
    width:600px;
    padding:10px 20px;
    font-size:30px;
    color:#444;
    height:60px;
    font-weight:300;
    margin:0px;
}
.search-close{
    position:absolute;
    margin-top:60px;
    background-color:black;
    border:2px solid white;
    display:block;
    margin-left:300px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width:40px;
    height:40px;
}
.search-close i{
    font-size:18px;
    color:white;
    margin-top:9px;
    margin-left:-4px;
}
.info {
   float:left;
   line-height:220%;
}
.weather, .time{
   font-size:25px;
}
.wlike{
   display:block;
   float:left;
   margin-top:-3px;
   margin-right:10px;
}
.date{
   font-size:10px;
}
.nevnap {
   font-size:10px;
   margin-top:-10px;
}
.fb-login{
   float:right;
}
.socialbox{
    margin:10px 0px;
    padding:10px 20px 5px 20px;
    border:1px solid #ddd;
}
.minden_rovat{
   position:absolute;
   margin-left:940px;
   margin-top:-3px;
}
.minden_channel{
   position:absolute;
   margin-left:990px;
   margin-top:-4px;
}
section{
   float:left;
   margin-left:15px;
   margin-right:15px;
   margin-bottom:35px;
   width:370px;
   font-size:13px;
}
.section-small{
   margin-left:10px;
   margin-right:5px;
   margin-bottom:0px;
   width:210px;
   font-size:13px;
   padding:7px;
}
.topcikk{
   line-height:15px;
   overflow: hidden;
   text-overflow: ellipsis;
   color:#666;
}
.topcikk:hover, .topcikk h3:hover{
   color:#999;
}
.topcikk-1{
   height:65px;
}
.topcikk-2, .topcikk-3{
   height:35px;
}
.cikk-content{
   font-size:15px;
}
.cikk-content img{
   float:left;
   margin-right:10px;
   margin-top:10px;
   margin-bottom:10px;
}
.topimg, .jatekimg{
   background-position:top;
   background-repeat:no-repeat;
   background-color:#ddd;
   background-size:cover;
   width:100%;
   height:130px;
   margin-bottom:5px;
}
.jatekimg{
   background-position:top;
   height:280px;
}
section.section-right{
   float:right;
   margin-left:15px;
   margin-right:0px;
}
section.section-left{
   float:left;
   margin-left:0px;
   margin-right:15px;
}
section.section-cikk{
   width:770px;
}
section.section-jatek{
   width:200px;
   height:365px;
}
.jatek-img{
   width:160px;
   height:230px;
   border:1px solid #d8d8d8;
   background:#ededed;
}
section.section-banner-120x240{
   width:126px;
   height:365px;
   padding:2px;
   line-height:120%;
}
section.section-banner-120x240 a{
   font-size:10px;
   color:#e51521;
   font-weight:600;
   margin-left:10px;
}
section.newest{
   height:365px;
}
section.top-article{
   width:540px;
}
.top-article-img{
   width:100%;
   height:320px;
   background-color:#eee;
}
.cikk-image{
   width:728px;
   height:400px;
   margin-top:10px;
   margin-bottom:10px;
   background-size:cover;
   background-repeat:no-repeat;
   background-position:top;
}
.menupoints{
   height:20px;
   margin-top:20px;
   margin-bottom:20px;
}
.menupoints-rovatok{
   float:left;
   width:960px;
   min-width:960px;
   height:40px;
   overflow:hidden;
   line-height:50px;
   margin-top:-10px;
   position:relative;
}
.menupoints a{
   text-decoration:none;
   font-weight:300;
   font-size:24px;
   margin-left:10px;
   margin-right:10px;
   display:block;
   float: left;
   color:#303030;
   width:auto;
}
.menupoints a:hover{
   color:#e30613;
}
.menupoints a.small-link{
   font-size:10px;
   margin-right:0px;
   float:right;
   padding:0;
   
}
.clear{
   clear:both;
}
.arrow {
   position:absolute;
	width: 0;
	height: 0;
	border-top: 35px solid red;
	border-right: 15px solid transparent;
   margin-top:-38px;
   margin-left:-21px;
}
.arrow-ad, .arrow-latest{
   border-top: 30px solid #ccc;
   margin-top:-12px;
   margin-left:-1px;
}
.arrow-latest{
   margin-top:-25px;
   margin-left:-11px;
}

.section-title{
   position:absolute;
   margin-top:-40px;
   margin-left:-21px;
   height:20px;
   background:red;
   padding:0px 10px;
   padding-top:3px;
   z-index:99;
}
.section-title-ad, .section-title-latest{
   margin-top:-14px;
   margin-left:-1px;
   line-height:8px;
   height:14px;
   background:#ccc;
   font-size:10px; 
   color:white;
   font-weight:600;
}
.section-title-latest{
   margin-top:-25px;
   margin-left:-11px;
}
.section-title a{
   display:block;
   color:white;
   font-weight:600;
   font-size:12px;
   text-decoration:none;
   margin-top:-2px;
}
.cikk-details{
   position:absolute;
   margin-top:-43px;
   padding:0px 10px;
   padding-top:3px;
   font-size:11px;
   text-align:right;
   width:750px;
   
}
.latest-wrapper{
   width:100%;
   height:57px;
   padding:10px;
   border:1px solid #ddd;
   float:none;
   margin-top:10px;
   margin-bottom:25px;
   line-height:130%;
   font-weight:600;
   background-color:#f3f3f3;
}
.latest-wrapper:hover{
   background-color:#eee;
   cursor:pointer;
}
.latest-title{
   width:100%;
   height:34px;
   overflow:hidden;
   color:#333;
}
fieldset{
   border:1px dashed #ccc;
   background:white;
}
legend.tv{
   background-color:#b01fc1;
   color:white;
   padding:0px 15px;
   font-family: 'Open Sans', sans-serif;
   font-weight:300;
   font-size:20px;
}
/* FOOTER */
footer{
   margin-top:20px;
   margin-bottom:20px;
}
footer .footer-left{
   float:left;
}
footer .footer-right{
   float:right;
}
footer .footer-left a{
   color:#888;
   font-size:12px;
}
.copyright{
   color:#888;
   font-size:12px;
   margin-bottom:20px;
}

/* TOP CIKK*/
.top-cikk-description-wrapper{
   width:400px;
   height:90px;
   background-color:white;
   position:absolute;
   z-index:9;
   margin-left:100px;
   margin-top:235px;
   padding:15px;
   line-height:120%;
}
.top-cikk-description{
   overflow:hidden;
   height:66px;
   margin-top:-3px;
}
.top-cikk-description-wrapper .arrow, .top-cikk-description-wrapper .section-title{
   margin-left:-15px;
   margin-top:-35px;
}
.top-article-img{
   background-repeat:none;
   background-size:cover;
}
.cikk-row{
   border:1px solid #eee;
   color:#777;
   font-size:16px;
   margin-bottom:5px;
   padding:5px 10px;
}
.cikk-row:hover{
   border:1px dashed #333;
   color:#333;
}
.search-row h2{
    text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    height:20px;
    margin-bottom:0px;
}

/* TOP VIDEO */
.alfoldtv{
   color:#b01fc1;
}
.top-video{
   width:605px;
   height:363px;
}
.latest-videos{
   width:378px;
}
.top-video-description-wrapper{
   width:400px;
   height:80px;
   background-color:white;
   position:absolute;
   z-index:9;
   margin-left:162px;
   margin-top:235px;
   padding:15px;
}
.close-video-description{
   position:absolute;
   margin-left:-30px;
   margin-top:-30px;
   background:#b01fc1;
   border:2px solid white;
   color:white;
   padding:1px 8px;
   width:30px;
   height:30px;
   
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}
.top-video-opener{
   z-index:10;
   padding:10px 13px;
   background-color:white;
   position:absolute;
   margin-left:560px;
   margin-top:200px;
   display:none;
   border-top:1px solid #ddd;
   border-bottom:1px solid #ddd;
   border-right:1px solid #ddd;
   -webkit-box-shadow: 5px 0px 11px 0px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:    5px 0px 11px 0px rgba(0, 0, 0, 0.2);
   box-shadow:         5px 0px 11px 0px rgba(0, 0, 0, 0.2);
}
.top-video-opener a i{
   font-size:20px;
   color:#b01fc1;
}
.section-video-thumb, section-cikk-thumb, .section-jatek-thumb{
   width:222px;
   height:240px;
   margin-bottom:15px;
}
.section-jatek-thumb{
   height:390px;
}
.video-thumb-play{
   color:white;
   width:100%;
   text-align:center;
   margin-top:30px;
}
.video-thumb-play, .alfoldtv{
   color:#b01fc1;
}
.frontend-video-thumb{
   width:158px;
   height:96px;
   border:2px solid #eee;
   float:left;
   margin:5px;
   background-position:center;
   background-repeat:no-repeat;
   background-color:#ddd;
   background-size:cover;  
}
.frontend-video-thumb:hover{
   border-color:#b01fc1;
}


/* BANNERS */
#rovatbanner{
   height:348px;
   text-align:center;
}
.banner-wrapper-120{
   width:130px;
}
.banner {
   border:1px solid #d8d8d8;
   background:#ededed;
}
.banner-728x90{
   float:right;
   width:728px;
   height:90px;
}
.banner-336x280{
   float:right;
   width:336px;
   height:280px;
}
.banner-120x240{
   float:right;
   width:120px;
   height:240px;
}

/* SLIDER */
.slidesjs-navigation{
   position:absolute;
   margin-top:-85px;
   margin-left:12px;
   z-index:99;
   font-weight:600;
   font-size:65px;
   color:white;
   text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
}
.slidesjs-next{
   margin-left:40px;
}

/* CROPIT */

/* Hide file input */
input.cropit-image-input {
  visibility: hidden;
}
.cropit-image-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ddd;
  margin-top: 7px;
  cursor: move;
   width:320px;
   height:460px;
  margin-bottom:5px;
}

.cropit-image-background {
  opacity: .2;
  cursor: auto;
}