<a href="{$_C.liveadmin}/rovatok/~new~/cikk-edit" class="button tiny success"><i class="fa fa-plus"></i> Új cikk</a>
<a href="{$_C.liveadmin}/rovatok/~new~/edit" class="button tiny success"><i class="fa fa-plus"></i> Új rovat</a>
<a href="{$_C.liveadmin}/rovatok/~show~/top-cikkek" class="button tiny">Top cikkek a főoldalon</a>
<a href="{$_C.liveadmin}/rovatok" class="button tiny">Rovatok</a>
<br/><br/>
<a href="{$_C.liveadmin}/videos/~new~/edit" class="button tiny success"><i class="fa fa-plus"></i> Új videó</a>
<a href="{$_C.liveadmin}/videos" class="button tiny">Videók</a>
<br/><br/>
<a href="{$_C.liveadmin}/polls/~new~/edit" class="button tiny success"><i class="fa fa-plus"></i> Új szavazás</a>
<a href="{$_C.liveadmin}/polls" class="button tiny">Szavazások</a>
<br/><br/>
<a href="{$_C.liveadmin}/jatekok/~new~/edit" class="button tiny success"><i class="fa fa-plus"></i> Új nyereményjáték</a>
<a href="{$_C.liveadmin}/jatekok" class="button tiny">Nyereményjátékok</a>
<br/><br/>
<a href="{$_C.liveadmin}/newsletters/~new~/edit" class="button tiny success"><i class="fa fa-plus"></i> Új hírlevél</a>
<a href="{$_C.liveadmin}/newsletters" class="button tiny">Hírlevelek</a>
<br/><br/>
<a href="{$_C.liveadmin}/banners/~new~/edit" class="button tiny success"><i class="fa fa-plus"></i> Új banner</a>
<a href="{$_C.liveadmin}/banners" class="button tiny">Bannerek</a>
